.Nav {
   background-color: rgb(243, 240, 240);
   color: black; 
   padding: 0 1rem;
   font-size: 3rem;
   font-weight: bold;
}
.Nav .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.Nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
}
.Nav {
   font-family: 'Dancing Script', cursive;
}